# compiled output
dist/
public/
build/
reports/
.scannerwork
null

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

test-report.xml

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.history/*

# IDE - Visual Studio
.vs/

# misc
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
yarn.lock
testem.log
/typings

# System Files
.DS_Store
src/.DS_Store
Thumbs.db
/webpack-stats.html
__MACOSX/
.s3cfg
.storybook/cache/
webpack/cache/
!webpack/cache/.gitkeep
.env

### react ###
*.log
logs
**/*.backup.*
**/*.back.*
output.txt

*.sublime*

psd
thumb
sketch
